
{{> header}}

    
{{> navbar }}

<div class="row">
    <div class="col-8">
        <h1>Ing. {{ getNombre }}</h1>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquam tempore cum reprehenderit quidem dolorum eius! Minus obcaecati, dicta iure repellat quaerat doloribus dignissimos hic autem molestiae harum totam, cupiditate dolor!</p>
    </div>
    <div class="col-4">
        <picture>
        <img src="assets/img/MaironCuello.jpg" class="img-fluid img-thumbnail" alt="...">
        </picture>
    </div>
</div>​

{{> footer }} 